/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000, #0d1b2a);
    color: #fff;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #444;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 40px;
    margin-right: 10px;
}

.navbar .logo span {
    font-size: 24px;
    font-weight: bold;
    color: #e50914;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #e50914;
}

/* Main Styling */
.container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

/* Overwritten Heading Styling */
.main-heading {
    font-size: 36px;
    color: #e50914;
    margin-bottom: 10px;
}

.sub-heading {
    font-size: 18px;
    margin-bottom: 30px;
    color: #d3d3d3;
    font-weight: lighter;
}

/* Footer Styling */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    border-top: 1px solid #444;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    transition: color 0.3s;
    font-weight: bold;
}

.footer-links a:hover {
    color: #e50914;
}

/* Responsive Styling */

/* Small devices (phones) */
@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .logo {
        margin-bottom: 10px;
    }

    .navbar .nav-links a {
        margin: 10px 0;
        font-size: 14px;
    }

    .main-heading {
        font-size: 28px;
    }

    .sub-heading {
        font-size: 16px;
    }

    .footer-links a {
        font-size: 12px;
        margin: 5px 0;
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .navbar .nav-links a {
        margin: 0 15px;
        font-size: 15px;
    }

    .main-heading {
        font-size: 32px;
    }

    .sub-heading {
        font-size: 17px;
    }

    .footer-links a {
        font-size: 13px;
    }
}
